@use "@/variable" as var;

.deposit_modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  height: 700px;
  overflow-y: scroll;
  padding-bottom: 80px;
  .deposit_modal_title_wrap {
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0px;
    .deposit_modal_title {
      font-size: 18px;
      color: var.$text-black;
    }
    .deposit_modal_cancel {
      font-size: 22px;
      color: var.$text-black;
    }
  }
  .deposit_modal_sub_wrap {
    padding: 10px 0px;
    border-bottom: 2px solid rgba(231, 139, 61, 0.8);
    .deposit_modal_sub_text {
      font-size: 16px;
      padding: 5px;
      color: #b2b4b6;
      font-weight: 300;
      margin-bottom: 2px;
    }
    .main {
      color: var.$orange;
    }
  }
  .deposit_modal_form_wrap {
    padding-top: 15px;
    align-items: center;

    .deposit_modal_form_text {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .deposit_modal_input_wrap {
      align-items: center;
      height: 40px;
      .deposit_modal_input_con {
        width: 80%;
        height: 100%;
        .deposit_modal_input {
          height: 100%;
          width: 100%;
          border: 1px solid #707070;
          padding: 6.5px 12px;
          background-color: transparent;
          color: var.$text-black;
          &::placeholder {
            color: var.$text-black;
          }
        }
      }

      .deposit_modal_ngn {
        height: 100%;
        font-size: 14px;
        color: var.$text-black;
        border: 1px solid #707070;
        width: 20%;
      }
      .deposit_modal_dec {
        @extend .deposit_modal_ngn;
      }
    }
    .deposit_modal_error {
      font-size: 11px;
      color: red;
    }
  }
  .deposit_modal_payment_wrap {
    border: 1px solid #e9e9ea;
    border-radius: 4px;
    padding: 5px;
    margin-top: 15px;

    .deposit_modal_payment {
      .deposit_modal_payment_img {
        object-fit: contain;
      }
      .paypent_text {
        align-items: center;
        margin-bottom: 10px;

        .key {
          font-size: 13px;
          color: #5b938a;
          font-weight: 700;
        }

        .value {
          font-size: 13px;
        }
      }
    }
    .deposit_modal_btns {
      .deposit_modal_btn {
        background-color: var.$primary-accent;
        color: var.$color;
        padding: 15px;
        font-weight: 700;
        margin-bottom: 5px;
      }
      .deposit_modal_acc {
        height: 50px;
        transition: all 0.3s ease-in-out;
        //   background-color: red;
        overflow: hidden;
        .deposit_modal_acc_icon {
          color: #fff;
          background-color: #9d9d9d;
          padding: 15px;
          width: 100%;
          border-radius: 5px;
          margin-bottom: 5px;
        }
        .deposit_modal_acc_method {
          padding: 10px;
          color: #717171;
          font-size: 12px;
          width: 100%;
          border: 1px solid #e9e9ea;
        }
      }
      .active {
        @extend .deposit_modal_acc;
        height: 100px;
      }
    }
  }
}
