@use "@/variable" as var;

.change_pass {
  width: 40%;
  background-color: #fff;
  padding: 10px;
  padding: 15px;
  border-radius: 12px;
  .change_close {
    color: var.$text-black;
  }
  .change_pass_title {
    font-size: 18px;
    padding: 10px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e9e9ea;
    color: var.$text-black;
  }

  .change_pass_text {
    font-size: 12px;
    align-items: center;
    padding: 20px 0px;
  }

  .change_pass_form_btn {
    background-color: var.$orange;
    color: var.$text-black;
  }
}
