@use "@/variable" as var;

.port_table_bonus {
  width: 100%;
  border-top: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;

  .port_table_heading {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e8e8e8;

    .table_heading_wrap {
      width: 70%;
      padding: 8px;
      align-items: center;
      border-right: 1px solid #e8e8e8;

      .table_heading_title {
        font-size: 14px;
        font-weight: 700;
      }

      .table_heading_icon {
      }
    }

    .table_heading_wrap_one {
      @extend .table_heading_wrap;
      width: 30%;
      border-right: 1px solid #e8e8e8;

      .table_heading_title {
        font-size: 12px;
        font-weight: 700;
      }
    }
  }

  .port_table_body {
    height: 30px;
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;

    .port_table_body_con {
      //   align-items: stretch;
      .table_body_wrap {
        width: 70%;
        padding: 8px;
        align-items: center;
        border-bottom: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;

        .table_body_title {
          font-size: 12px;
          color: var.$text-black;
        }

        .table_body_icon {
          margin-right: 5px;
          font-size: 15px;
          box-shadow: 1px 1px 3px #9b9999;
          background-color: white;
          border-radius: 50%;
          width: 15px;
          height: 15px;
        }
      }

      .table_body_wrap_one {
        @extend .table_body_wrap;
        width: 30%;
        border-right: 1px solid #e8e8e8;
      }
    }

    .port_table_acc_con {
      .table_acc_wrap {
        padding: 8px;

        .table_acc_title {
          font-size: 12px;
          color: var.$text-black;
        }
      }
    }
  }

  .active_acc {
    height: fit-content;
  }
}

.bold {
  font-weight: 800;
}
