.payments {
  font-size: 12px;
  .page__head {
    height: 88px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    display: table;
    width: 100%;
    padding: 0 30px;
  }

  .page__head:after, .page__head:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 30px;
    height: 1px;
    background-color: #fff;
  }

  .page__head-item {
    display: table-cell;
    vertical-align: middle;
  }
  .t-menu {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 45px;
    border-top: 0;
    a, a:active, a:focus, a:hover, a:visited {
      text-decoration: none;
      -webkit-text-decoration-skip: objects;
    }
    .t-menu__item {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      border-bottom: 2px solid #d7d9db;
      text-align: center;
      .t-menu__item-title {
        color: rgba(0,0,0,.7);
        font-weight: 700;
        height: 100%;
        &:before {
          height: 104%;
          content: "";
          display: inline-block;
          vertical-align: middle;
        }
      }
      &.active {
        border-bottom-color: #2c914a;
        .t-menu__item-title {
          color: #111;
        }
      }
    }
  }
  .page__body {
    padding: 30px;
  }

  .one-half {
    float: left;
    width: 48%;
    //padding: 0 5px;
    display: block;
  }


  .disclaimer {
    font-size: 10px;
    text-align: justify;
  }

  .form-row {
    position: relative;
  }
  .form--error {
    color: #b94646;
    margin-top: 10px;
  }
  .form-row+.form-row {
    margin-top: 20px;
  }

  .form-label {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 14px;
  }

  .form-input {
    position: relative;
  }


  button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
  }

  input:not([type=radio]):not([type=checkbox]) {
    height: 39px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .1), inset 0 0 0 1px #d7d9db;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .1), inset 0 0 0 1px #d7d9db;
    border: none;
    width: 100%;
    padding-left: 15px;
    font-size: 13px;
  }

  input:not([type=radio]):not([type=checkbox]).big {
    font-size: 15px;
    font-weight: 700;
  }
  textarea {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .1), inset 0 0 0 1px #d7d9db;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .1), inset 0 0 0 1px #d7d9db;
    border: none;
    width: 95%;
    padding: 5px;
    font-size: 13px;
  }

  .form-input--stake {
    font-size: 12px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    color: hsla(0, 0%, 7%, .7);
  }
  .form-select {
    position: relative;
  }
  .form-input.error input {
    -webkit-box-shadow: inset 0 0 0 1px #be7373, 0 1px 1px 0 #f5f2f0;
    box-shadow: inset 0 0 0 1px #be7373, 0 1px 1px 0 #f5f2f0;
  }

  .form-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fefefe;
    background: -webkit-gradient(linear,left top, left bottom,color-stop(0, #fefefe),to(#f0f0f2));
    background: -o-linear-gradient(top,#fefefe 0,#f0f0f2);
    background: linear-gradient(180deg,#fefefe 0,#f0f0f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe,endColorstr=#f0f0f2,GradientType=0);
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1), inset 0 0 0 1px #d7d9db;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1), inset 0 0 0 1px #d7d9db;
  }
  .form-select.error select {
    -webkit-box-shadow: 0 1px 1px 0 #f5f2f0;
    box-shadow: 0 1px 1px 0 #f5f2f0;
    border: 1px solid #be7373;
  }
  .form-select.error select {
    border: 1px solid #b94646;
    color: #b94646;
  }

  .form-select--hide-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
  }
  .form-select--hide-arrow:after {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    content: "";
    border: 6px solid transparent;
    border-width: 6px 6px 0;
    border-top-color: #111;
  }
  .quickstake {
    font-size: 0;
  }
  .quickstake__item {
    display: inline-block;
    vertical-align: middle;
    width: 19.2%;
    font-size: 13px;
    text-align: center;
    background-color: #f0f2f5;
    border-radius: 3px;
    height: 44px;
  }
  div.quickstake__item, div.txt-blue, strong.txt-blue {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .quickstake__item:before {
    height: 104%;
    content: "";
    display: inline-block;
    vertical-align: middle;
  }
  .quickstake__item+.quickstake__item {
    margin-left: 1%;
  }
  .btn {
    text-align: center;
    font-size: 13px;
    border-radius: 3px;
    height: 39px;
    display: block;
    cursor: pointer;
    padding: 0;
    text-transform: uppercase;
    color: #fff!important;
    font-weight: 700;
    font-family: Arial;
    line-height: 16px;
    width: 100%;
    border: 1px solid transparent;
  }

  .mt20 {
    margin-top: 20px!important;
  }
  .btn.green {
    background: #2c944b;
    background: -webkit-gradient(linear,left top, left bottom,color-stop(0, #2c944b),to(#2b8f49));
    background: -o-linear-gradient(top,#2c944b 0,#2b8f49);
    background: linear-gradient(180deg,#2c944b 0,#2b8f49);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2C944B,endColorstr=#2B8F49,GradientType=0);
  }
  .btn.green.loading {
    border: 1px solid #2c944b
  }

  .btn.green.loading:after {
    background-color: #fff
  }

  .btn.red {
    background-color: #b94646;
    border: 2px solid rgba(185, 70, 70, .5);
    color: #9a3a3a
  }
  .btn.lightgray {
    background: #f5f7fa;
    color: #111;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .12);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .12)
  }

  .btn.lightgray.loading {
    border: 1px solid #f5f7fa
  }

  .btn.lightgray.loading:after {
    background-color: #fff
  }

  .btn.darkgray {
    background: #d8dbe0;
    color: #4d4d4d;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .12);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .12)
  }

  .btn.darkgray.loading {
    border: 1px solid #d8dbe0
  }

  .btn.darkgray.loading:after {
    background-color: #fff
  }

  .btn.gray {
    background-color: #eff0f2;
    color: #cc3d3d;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    font-family: Roboto;
    width: 116px;
    text-transform: none
  }

  .btn.gray.loading {
    border: 1px solid #eff0f2
  }

  .btn.gray.loading:after {
    background-color: #fff
  }

  .btn.red {
    background-color: #cc3d3d;
    color: #eff0f2;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    font-family: Roboto;
    width: 140px;
    text-transform: uppercase;
    padding: 5px 3px
  }

  .btn:before {
    height: 104%;
    content: "";
    display: inline-block;
    vertical-align: middle;
  }
  .divide-holder:after {
    content: "";
    display: block;
    clear: both;
  }
  .steps {
    border-radius: 3px;
    background-color: #f5f7fa;
    padding: 30px;
    display: table;
    width: 85%;
    position: relative;
  }
  .reset-fw {
    font-weight: 400!important;
  }
  .steps__item {
    display: table-cell;
    vertical-align: top;
  }
  .steps__item:first-child {
    width: 60px;
    font-weight: 700;
  }
  .steps__row+.steps__row {
    margin-top: 14px;
  }
  .mt10 {
    margin-top: 10px!important;
  }
  .txt-r {
    text-align: right!important;
  }
}
.account-head-btn{
  padding-top: 1rem;
}
.expense-form{
  margin-top: 3rem;
  .expense-input{
    margin: 2rem auto;
    width: 90%;
    label{
      display: block;
      font-size: 1rem;
      margin-bottom: .5rem;
    }
    input, select{
      width: 100%;
      padding: .5rem 1rem;
    }

  }
  .expense-btn{
    float: right;
    margin-right: 2rem;
  }
}

.expense-modal-header{
  background:#2c914a;
  // background: linear-gradient(to bottom, #2d944c 0, #2c914a 100%);
  // margin-top: -1rem;
  color: white;
  padding: 0rem 1rem;
}
.modal-header{
  background:#2c914a;
  // background: linear-gradient(to bottom, #0071be 0, #0054ac 100%);
  margin-top: -1rem;
  padding-left: 1rem;
  padding-bottom: .2rem;
  h2{
    color: white;
  }
}
.close-icon{
  top: 13px;
  color: white !important;
}