.bonus {
  &.indent {
    background-color: #d8dbe0;
  }

  .accordion__item {
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 2px 3px 0 rgba(0, 0, 0, 0.10);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 2px 3px 0 rgba(0, 0, 0, 0.10);
  }
  .accordion__item+.accordion__item {
    margin-top: 1px;
  }
  .accordion__header {
    padding: 15px;
  }
  .accordion__header.collapsible {
    position: relative;
  }
  .accordion__header.collapsible .accordion-toggle {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    height: 14px;
    width: 14px;
    border: 0;
    background-color: transparent;
  }
  .accordion__item.opened .collapsible .accordion-toggle {
    background-image: url(../img/arrow-down.svg);
  }
  .accordion__cnt {
    display: table;
    height: 100%;
    width: 100%;
    table-layout: fixed;
  }
  .accordion__header.collapsible .accordion__cnt {
    padding-left: 20px;
  }
  .accordion__cnt-item {
    display: table-cell;
    vertical-align: middle;
  }
  .accordion__body {
    padding: 0;
    -webkit-transition: padding-top .3s ease;
    -o-transition: padding-top .3s ease;
    transition: padding-top .3s ease;
  }
  .accordion__item.opened .accordion__body {
    padding: 20px;
    border-top: 1px solid #e6e8eb;
  }
  .accordion__content {
    display: none;
  }
  .accordion__item.opened .accordion__content {
    display: block;
  }
  .progress__bar {
    border-radius: 100px;
    height: 30px;
    background-color: #f0f2f5;
    overflow: hidden;
  }
  .progress__bar, .progress__fill {
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  .progress__fill {
    border-radius: 100px 0 0 100px;
    background: #dadcde;
    background: -webkit-gradient(linear,left top, left bottom,color-stop(0, #dadcde),to(#d7d8da));
    background: -o-linear-gradient(top,#dadcde 0,#d7d8da);
    background: linear-gradient(
                    180deg
            ,#dadcde 0,#d7d8da);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dadcde,endColorstr=#d7d8da,GradientType=0);
    position: relative;
    width: 0;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    height: 100%;
  }
  .progress__fill:before {
    height: 104%;
    content: "";
    display: inline-block;
    vertical-align: middle;
  }
  .progress.green .progress__fill {
    -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.20);
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.20);
    background: #379f56;
    background: -webkit-gradient(linear,left top, left bottom,color-stop(0, #379f56),to(#2d944b));
    background: -o-linear-gradient(top,#379f56 0,#2d944b);
    background: linear-gradient(
                    180deg
            ,#379f56 0,#2d944b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#379f56,endColorstr=#2d944b,GradientType=0);
  }
  .progress__percent {
    height: 100%;
    position: absolute;
    top: 0;
    left: 105%;
    color: #111;
  }
  .progress__percent:before {
    height: 104%;
    content: "";
    display: inline-block;
    vertical-align: middle;
  }
  .progress.green .progress__percent {
    color: #111;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
  }
  table.default {
    border: 1px solid #d8dbe0;
    table-layout: fixed;
  }
  table.default thead tr th {
    height: 34px;
    background-color: #f5f7fa;
    border: 1px solid #d8dbe0;
    padding: 0 11px;
    background-clip: padding-box;
  }
  table.default thead tr th:first-child {
    text-align: left;
  }
  table.default tbody tr td {
    height: 35px;
    border: 1px solid #d8dbe0;
    padding: 0 11px;
  }
  table.default tbody tr td:first-child {
    padding-right: 0;
    text-align: left;
  }
  table.default tbody tr td:nth-child(2) {
    padding-left: 0;
    text-align: right;
  }
  table.default tbody tr td:nth-child(3) {
    padding-left: 0;
    text-align: right;
  }
}

.app-flex-item{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
}
.logged-table {
  border: 1px solid #c2c1c1 !important;
  width: 100%;
  &.cashdesk-table{
    tbody {
      tr {
        // background: #edeced;
        border-bottom: 1px solid #c2c1c1 !important;
        td {
          border-right: 1px solid #c2c1c1 !important;
          line-height: 30px;
          text-align: left;
          padding: 0 5px;
          color: #062164;
          font-size: 12px;
          font-weight: normal;
          height: 31px;
          &:nth-child(1) {
            width: 70px;
            .add-remove-icon {
              display: inline-block;
              width: 20px;
              height: 20px;
              float: left;
              cursor: pointer;
              margin-top: 5px;
              margin-right: 10px;
              background-image: url(//7more.7more.bet/7more/images/remove-row.png);
              background-size: 100%;
              background-repeat: no-repeat;
              .add {
                background-image: url(//7more.7more.bet/7more/images/add-row.png);
                margin-bottom: 5px;
              }
            }
          }
          &:nth-child(2) {
            width: 70px;
            input {
              width: 100%;
            }
          }
          &:nth-child(3) {
            width: 110px;
            text-align: center;
          }
          &:nth-child(4) {
            font-weight: bold;
            width: 300px;
            line-height: normal;
            span {
              display: block;
              width: 200px;
              white-space: nowrap;
              overflow: auto;
              text-overflow: ellipsis;
              &:nth-child(2) {
                font-size: 11px;
              }
            }
          }
          &:nth-child(5) {
            width: 130px;
            input[type="text"] {
              width: calc(100% - 35px);
              float: left;
            }
            i {
              float: left;
              line-height: 24px;
              font-size: 14px;
              padding-left: 10px;
              cursor: pointer;
            }
          }
          &:nth-child(6) {
            font-weight: bold;
            text-align: center;
            width: 90px;
          }
          input[type="text"] {
            border: 1px solid #062164;
            border-radius: 3px;
            font-weight: bold;
            color: #00113C;
            font-size: 13px;
            line-height: 20px;
            text-align: center;
          }
          .smart-bet {
            position: relative;
            width: 86px;
            z-index: 1;
            .tooltip-info {
              position: relative;
              display: inline-block;
              cursor: pointer;
            }
          }
        }
      }
    }
    tfoot{
      td {
        padding: 0 5px;
        &:nth-child(1) {
          width: 70px;
          .add-remove-icon {
            width: 20px;
            height: 20px;
            float: left;
            cursor: pointer;
            margin-top: 5px;
            margin-right: 10px;
            background-image: url(//7more.7more.bet/7more/images/add-row.png);
            background-size: 100%;
            background-repeat: no-repeat;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
.cashdesk-content {
  width: 100%;
  display: inline-block;
  border-bottom: 5px solid #FEC82E !important;
  background-color: #d4d4d4;
  .cashdesk-tabs {
    width: 100%;
    border-bottom: 1px solid #c2c1c1;
    padding: 20px 0 30px 5px;
    background-color: #d4d4d4;
    display: inline-block;
    .row {
      width: 100%;
      max-width: 735px;
      display: block;
      margin: 0 auto;
      .tab {
        width: 135px;
        color: #ebebeb;
        background-color: #373a42;
        font-size: 12px;
        font-weight: 500;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px 10px;
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        span {
          float: right;
        }
        &.green {
          color: #01d46d;
        }
      }
      .stake-holder {
        float: left;
        line-height: 32px;
        text-align: right;
        padding-left: 30px;
        margin-bottom: 5px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: calc(100% - 430px);
        span {
          font-size: 13px;
          padding-right: 5px;
          color: #062164;
          font-weight: 500;
        }
        input {
          border: 1px solid #062164;
          border-radius: 3px;
          font-weight: bold;
          color: #00113C;
          font-size: 10px;
          line-height: 30px;
          width: 83px;
          font-size: 13px;
          padding: 0 5px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }
      }
      .buttons {
        float: left;
        text-align: right;
        width: calc(100% - 430px);
        margin-bottom: 5px;
        div {
          display: inline-block;
          padding-left: 27px;
          padding-right: 8px;
          border-radius: 3px;
          cursor: pointer;
          background-image: url(//7more.7more.bet/7more/images/cancel-button.png);
          background-size: auto 60%;
          background-position: left 5px top 7px;
          background-repeat: no-repeat;
          color: #ebebeb;
          font-size: 12px;
          font-weight: bold;
          line-height: 32px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin-right: 5px;
          &.cancel {
            background-color: #e1042e;
          }
          &.proceed {
            margin-right: 0;
            background-image: url(//7more.7more.bet/7more/images/proceed-button.png);
            background-color: #01d46d;
          }
        }
      }
    }
  }
}