$orange: #e78b3d;
$blue: #5b938a;
// $green: #1e312e;
$text-black: #182220;
$orange: #a52424;
$red-dark: #561629;
$primary-accent: #2562bd;
$secondary-accent: #1affff;
$red: #0895fc;
$red-dark: #ffc400;
$text-black: #2c3538;
$black: #222630;
$green: #001041;
$btn-primary-transparent: #ffffff29;
$background-color: #001041;
$sec-bg-color: #ffffff;
$color: #ffffff;
$sec-color: #000000;

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mb_10 {
  margin-bottom: 10px;
}

.mt_10 {
  margin-top: 10px;
}

.flex {
  display: flex;
}

.text {
  color: #212121;
  font-size: 15px;
  line-height: 150%;

  @media (max-width: 991px) {
    font-size: 12px;
  }
}

.sub_heading {
  color: #143b76;
  font-size: 24px;
  font-weight: 500;

  @media (max-width: 991px) {
    font-size: 18px;
  }
}

.col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.card_title {
  color: white;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
}

.card_text {
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 300;
}

@mixin mq($breakpoint) {
  $breakpoints: (
    "sm": 480px,
    "md": 768px,
    "lg": 991px,
    "xl": 1200px,
  );

  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media (max-width: $breakpoint-value) {
    @content;
  }
}

.mob {
  display: none;

  @include mq("lg") {
    display: block;
  }
}

.desk {
  display: block;

  @include mq("lg") {
    display: none;
  }
}

.p_20 {
  padding: 20px;
}

.mb_30 {
  margin-bottom: 30px;
}

.stick_anim {
  animation: up 0.4s 0s linear;
}

@keyframes up {
  0% {
    transform: translateY(-20px);
    // opacity: 0;
  }

  100% {
    transform: translateY(0px);
    // opacity: 1;
  }
}

// .loading {
//   width: 100%;
//   background-color: rgba(0, 0, 0, 0.1);
//   font-size: 12px;
//   text-transform: uppercase;
//   position: fixed;
// }
