@use "@/variable" as var;

.reset_pass {
  width: 40%;
  height: 100vh;
  background-color: var.$green;
  position: fixed;
  .reset_pass_loading {
    padding: 100px 0px 0px 0px;
    .reset_pass_loading_item {
      margin-bottom: 30px;
    }
    .reset_pass_loading_title {
      font-size: 25px;
      color: #fff;
      font-weight: 900;
    }
  }
  .reset_pass_icons_wrap {
    padding: 20px;

    .reset_pass_icon {
      color: #fff;
      font-size: 35px;
    }
  }

  .reset_pass_wrap {
    width: 100%;
    padding: 20px;
    margin-top: 20px;

    .reset_pass_title {
      font-size: 30px;
      color: #fff;
      margin-bottom: 20px;
      font-weight: 900;
    }

    .reset_pass_text {
      font-size: 13px;
      color: #dcd8d8;
      margin-bottom: 30px;
    }

    .reset_pass_form {
      width: 100%;

      .reset_pass_input_wrap {
      }

      .reset_pass_btn {
        padding: 15px;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .reset_pass_input {
      height: 50px;

      .input_main {
        background-color: transparent !important;
        font-size: 14px !important;
        color: #fff !important;
        height: 45px !important;
        &::placeholder {
          color: #c7c5c5 !important;
        }
      }
    }
  }
}
